.AddCommentForm {
    border: 1px solid var(--primary-color);
    padding: 20px;
}

.input {
    flex-grow: 1;

    input {
        margin-top: 20px;
    }
}

.button {
    align-self: flex-end;
    margin-left: 20px;
}
