.app.dark {
    --bg-color: #696969;
    --inverted-bg-color: #dcdcdc;
    --primary-color: #d7d6d6;
    --secondary-color: #a4a4a4;
    --inverted-primary-color: #070707;
    --inverted-secondary-color: #3d3d3d;
}
