.app_dark_theme {
    --bg-color: #696969;
    --inverted-bg-color: #dcdcdc;
    --primary-color: #d7d6d6;
    --secondary-color: #a4a4a4;
    --inverted-primary-color: #070707;
    --inverted-secondary-color: #3d3d3d;

    // skeleton
    --skeleton-color: #313131;
    --skeleton-shadow: #a4a4a4;

    // code
    --code-bg: #7a7575;

    // card
    --card-bg: #4b4949;

    // listbox
    --listbox-bg: #4b4949;
}
