.app_wheat_theme {
    --bg-color: #d9bba0;
    --inverted-bg-color: #fbf7f4;
    --primary-color: #fbf7f4;
    --secondary-color: #fbf7f4;
    --inverted-primary-color: #d9bba0;
    --inverted-secondary-color: #fbf7f4;

    // skeleton
    --skeleton-color: #fbf7f4;
    --skeleton-shadow: #fbf7f4;

    // code
    --code-bg: #c49c8b;
}
