.app_wheat_theme {
    --bg-color: #d9bba0;
    --inverted-bg-color: #fbf7f4;
    --primary-color: #fbf7f4;
    --secondary-color: #d9bba0;
    --inverted-primary-color: #d9bba0;
    --inverted-secondary-color: #fbf7f4;
}
